{% extends "index.html" %}

{% block content %}

<div class="about-us-container">
    <div class="about-us-section">
        <div class="about-us-text">
            <h2>About Us</h2>
            <p>MyClean is a website produced by 3 developers based in Australia. Our goal is to improve the way
            cleaning services are booked and managed. MyClean has been designed to create a seamless and user-friendly
            experience for customers, freelance cleaners and cleaning companies alike. Our team collaborates closely to
            bring new features while keeping things simple and intuitive.</p>
        </div>
    </div>
</div>

<footer>
  <p>&copy; 2025 MyClean. All rights reserved.</p>
</footer>

{% endblock %}