<!DOCTYPE html>
{% extends 'client_base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('auth.login') }}">

    <a href="{{ url_for('base') }}">Developer login Bypass</a>


    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>Enable Multi-Factor Authentication</label>
    <input type="checkbox" name="mfa_enabled">

    <label>Preferred MFA Method</label>
    <select name="mfa_method">
        <option value="Email">Email</option>
        <option value="Text">Text</option>
    </select>

    <button type="submit">login</button>

    <a href="{{ url_for('auth.register') }}">create an account</a>

</form>
{% endblock %}

</html>
