<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>

    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <!-- Main Content Area -->
    <div class="container">
        {% block content %}


        <a href="{{ url_for('index') }}">login </a>


        {% endblock %}
    </div>

</body>
</html>
